<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <div class="logo-section ion-text-center ion-margin-bottom">
      <ion-icon name="fitness" size="large" color="primary"></ion-icon>
      <h1>Smart Coach</h1>
      <p class="ion-text-medium">Welcome back!</p>
    </div>

    <form (ngSubmit)="login()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input 
          type="email" 
          [(ngModel)]="email" 
          name="email"
          required
          autocomplete="email"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input 
          [type]="showPassword ? 'text' : 'password'" 
          [(ngModel)]="password" 
          name="password"
          required
          autocomplete="current-password"
        ></ion-input>
        <ion-button 
          slot="end" 
          fill="clear" 
          (click)="togglePasswordVisibility()"
          aria-label="Toggle password visibility"
        >
          <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-button 
        expand="block" 
        type="submit" 
        color="primary"
        class="ion-margin-top"
      >
        Login
      </ion-button>
    </form>

    <div class="ion-text-center ion-margin-top">
      <p class="ion-text-medium">
        Don't have an account? 
        <a [routerLink]="['/register']" routerDirection="forward">Register</a>
      </p>
    </div>
  </div>
</ion-content>
